/* css reset */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  *::after{
    box-sizing: border-box;
  }
  *::before{
    box-sizing: border-box;
  }
  ul,li{
    list-style: none;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  body{
    font-family: -apple-system,"Source Sans Pro", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  }
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  .clearfix:after{
    content: '';
    display: block;
    clear: both;
  }

/*css specified*/
html,body{
  height: 100%;
}
#side{
  /* float:left; */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: #eee;
  text-align: center;
}
#side .head{
  margin: 0 auto;
  text-align: center;
}
#side .portrait{
  /* margin-top: 70px; */
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(84,84,120,0.3);
}
#side .portrait:hover{
  animation: pulse 1s ;
  animation-fill-mode: both;
}
@keyframes pulse {
  0% {
    transform: scaleX(1)
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05)
  }
  to {
    transform: scaleX(1)
  }
}

#side .name{
  font-size: 20px;
  font-weight: 700;
}
#side .profession{
  /* padding-bottom: 20px; */
  font-size: 16px;
  line-height: 2;
  color: #606470;
}
#side .info-list{
  display: inline-flex;
  /* display: flex;*/
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #aaa;
}
#side .info-list>li{
  width: 120px;
  position: relative;
  line-height: 40px;
  margin: 4px 0;
  padding-left: 20px; 
  padding-right: 10px;
}
#side .info-list>li>a:hover{
  color: #606470;  
}
#side .info-list>li.active{
  color: #000;
}
#side .info-list>li::before{
  opacity: 0;
  content: '';
  position: absolute;
  left: -10px;
  top: 15%;
  width: 3px;
  height: 70%;
  transition:1s;
  background: #000;
  border-left: 2px solid 000;
}
#side .info-list>li.active::before{
  opacity: 1;
}
#side .info-list>li>a{
  display: inline-block;
  width: 100%;
}
#side .footer{
  font-size: 32px;
  /* margin-top: 120px; */
}
#side .footer>li{
  position: relative;
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
}
#side .footer>li:hover>.tooltip{
  display: block;
}

/*common css   #side和#main .projects公有 */
.tooltip{
  display: none;
  position: absolute;
  bottom:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 4px;
}
.tooltip .triangle{
  position:absolute;
  left: 50%;
  bottom: -2px;
  height: 1px;
  width:16px;
  background-color: #fff;
  transform: translateX(-50%);
}
.tooltip .triangle:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top-right-radius: 4px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background-color: #fff;
  transform: rotate(135deg);
}

#side .footer>li>.tooltip.qq{
  background: #fff url('img/qrcode-qq.jpg') no-repeat center/85% 85%;
}
#side .footer>li>.tooltip.weixin{
  background: #fff url('img/qrcode-weixin.jpg') no-repeat center/97% 97%;
}

#main .projectLink a .tooltip{
  z-index: 6;
  left: -27px;
  transform: translate(0,-50%);
}
#main .projectLink a:hover .tooltip{
  display: block;
}
#main .projectLink .tooltip.netease{
  background: #fff url('img/qrcode-netease.jpg') no-repeat center/88% 88%;
}


#side .footer>li svg:hover{
  opacity: 0.7;
}
#side .icon-github{
  fill:#24292e;
  transform: scale(1)
}
#side .icon-mail{
  fill:#0078d6;
  transform: scale(1.012439)
}
#side .icon-qq{
  fill:#12b7f5;
  transform: scale(1.137841)
}
#side .icon-weixin{
  fill:#00b500;
  transform: scale(1.153392);
}

#main{
  margin-left: 250px;
  height: 100%;
  background: #f7f7f7;
}

.homepage{
  position: relative;
  background: url('img/fake1.jpg') no-repeat center/cover;
  height: 100%;
  /* display: none; */
}
.homepage.active{
  /* display: block; */
}
.homepage .wrapper{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  text-align: center;
}
.homepage .welcome{
  font-size: 45px;
  font-weight: 300;
}
.homepage .showMore{
  display: inline-block;
  margin-top: 30px;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 300;
  background:#e6e6e6;
  border-radius: 3px;
}

/*common css*/
.layout{
  min-width: 880px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.portfolio{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  position: relative;
}
.portfolio .intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio div.headshot{
  position: relative;
  background: url('img/portrait.png') no-repeat center/cover;
  height: 280px;
  width: 280px;
  margin-right: 200px;
}
.portfolio div.headshot::before{
  content: '';
  position: absolute;
  left:30px;
  top:-30px;
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #e6e6e6;
  z-index: 0;
}
.portfolio .aboutMe{
  width: 340px;
  line-height: 2.5;
  font-weight: 300;
  /* background: violet; */
}
/* .portfolio.active{
  display: flex;
} */

.skills{
  height: 100%;
  display: flex;
  align-items: center;
  /* display: none; */
}
.skills ul.skillList{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}
.skills ul.skillList>li{
  position: relative;
  background: #e6e6e6;
  padding: 10px 25px 0 25px;
  height: 280px;
  width: 33.333333%;
  transition: all .5s cubic-bezier(.42,0,.58,1);
  
}
.skills ul.skillList>li:hover{
  z-index: 2;
  transform: scale(1.2);
  background-color: #eee;
  box-shadow: 0 4px 12px 0 rgba(84,84,120,0.3);
}
.skills h2{
  line-height: 50px;
}
.skills h3{
  color: #05C7AE;
  line-height: 40px;
}
.skills .skillItem{
  line-height: 1.8;
  font-size: 14px;
  font-weight: 300;
  color: #606470;
}
.skills .skillItem>li{
  /* list-style-type: disc; */
  padding-bottom: 8px;
}
/* .skills.active{
  display: flex;
} */

.projects{
  height: 100%;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  /* display: none; */
}
.projects .wrap{
  width: 850px;  
}
.projects ul.projectList{
  margin-left: -20px;
  overflow: hidden;
}
.projects ul.projectList>li{
  float: left;
  position: relative;
  width: 270px;
  margin-left: 20px;
  margin-bottom: 20px;
  background:#fff;
  overflow: hidden;
}
.projects ul.projectList>li>.preview{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 270px;
  overflow: hidden;
}
.projects ul.projectList>li>.preview>.project-description{
  opacity: 0;
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #000;
  background: rgba(230,230,230,0.9);
  transition: .3s;
  z-index: 2;
}
.projects ul.projectList>li>.preview>.project-description ul{
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}
.projects ul.projectList>li>.preview>.project-description ul>li{
  line-height: 1.5;
  padding-bottom: 10px;
}
.projects ul.projectList>li>.preview:hover>.project-description{
  opacity: 1;
}
.projects ul.projectList>li>.preview>img{
  box-shadow: 6px 4px 10px 1px rgba(230,230,230,0.3);
  transition: 1s;
}
.projects ul.projectList>li>.preview:hover>img{
  transform: scale(1.5);
}
.projects ul.projectList>li>.preview>.netease{
  width: 190px;
}
.projects ul.projectList>li>.preview>.resume{
  width: 220px;
}
.projects ul.projectList>li>.preview>.todo{
  width: 120px;
}
.projects ul.projectList>li>.preview>.components{
  width: 160px;
}
.projects ul.projectList>li>.preview>.other{
  width: 180px;
}
.projects ul.projectList>li>.preview>.takeaway{
  width: 200px;
}
.projects ul.projectList>li>.projectInfo{
  margin: 10px 0;
  padding: 10px 46px 20px 24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px
}
.projects .projectLink{
  position: absolute;
  right: 0;
  bottom:0;
  height: 46px;
  width: 92px;
  text-align: center;
  box-shadow: 4px 4px 31px 8px rgba(230,230,230,0.7);
  font-size: 0;
}
.projectLink.half{
  width: 46px;  
}
.projects .projectLink>a{
  display: inline-block;
  width: 46px;
}
.projects .projectLink>a:first-child{
  border-right: 1px solid rgba(230,230,230,0.6)
}
.projects .projectLink .icon{
  height: 46px;
  width: 18px;
}
/* .projects.active{
  display: flex;
} */

.easing {
  transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  /* custom */
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  /* custom */
}
#main .homepage,
#main .portfolio,
#main .projects,
#main .skills{
  position: absolute;
  left: 250px;
  top:0;
  bottom: 0;
  right: 0;
  background-color: #f7f7f7;
}
#main .homepage{
  z-index: 6;
}
#main .portfolio{
  z-index: 5;
}
#main .projects{
  z-index: 3;
}
#main .skills{
  z-index: 2;
}